<div class="row">
	<div class="columns show-for-medium-up">
		<img class="award" src="/img/landing/FEFF_award.png" alt="The Female Eye Film Festival Best Animation" />
		<img class="award" src="/img/landing/WIFF_award.png" alt="Best Screenplay Women's Independent Film Festival" />
	</div>
</div>
<div class="row">
	<div class="columns">
		<img src="/img/landing/title.png" class="logo" />
	</div>
</div>
<div class="row">
	<div class="columns show-for-medium-up">
		
		<img class="award" src="/img/landing/COMICCON.png" alt="Official Selection: Comic-con San Diego" />
		<img class="award" src="/img/landing/FEFF.png" alt="Official Selection: The Female Eye Film Festival" />
		<img class="award" src="/img/landing/SIAF.png" alt="Savannah Int'l Animation Festival">
		<img class="award" src="/img/landing/WIFF.png" alt="Official Selection Women's Independent Film Festival">
		
	</div>
</div>
<div class="row mobile-nav">
	<div class="columns show-for-small-only">
		<a href="#/watch" class="watch-the-film button expand" href="#">Watch the Film</a>
		<a href="#/about/film" class="button expand">About the Film</a>
		<a href="#/about/filmmaker" class="button expand">About the Filmmaker</a>
	</div>
</div>